@import url(output.css);

.fa:hover {
    cursor: pointer;
}

.fa-bell:hover {
    background-color: #c10007;
}

.navbuttons {
    .fa:hover {
        color: #c10007;
    }
}

.featured-title{ 
    font-family: "Kings", serif;
     font-weight: 400;
    font-style: normal;
}

.movie-show:hover {
    cursor: pointer;
}
